*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;

}

/*top开始*/
.top-warp{
	width: 100%;
	height: 35px;
	background: #f5f5f5;
}

.top-warp .top-con{
	width: 1190px;
	height: 35px;
	margin: 0px auto;
	font-size: 12px;
	/*border: 1px solid black;*/
}
.top-warp .top-con .top-left{
	float: left;
}
.top-warp .top-con .top-right{
	float: right;
}

.top-warp .top-con .top-right .cutoff{
	color: #6C6C6C;
}
.top-warp .top-con ul li{
	height: 35px;
	line-height: 35px;
	float: left;
	margin-left: 10px;
}
.top-warp .top-con ul li a{
	color: #6C6C6C;
}
.top-warp .top-con ul li .selected,
.top-warp .top-con ul li a:hover{
	color: #f40;
}

.top-warp .top-con ul li .imgbg{
	display: inline-block;
	width: 6px;
	height: 3px;
	margin: 0 5px;
	background-image: url(img/xsj.png);
	background-size: 100% 100%;
	vertical-align: middle;
}
.top-warp .top-con ul li .imgShopCar{
	width: 13px;
	height: 13px;
	background-image: url(img/gwc.png);
	vertical-align: -1px;
}
.top-warp .top-con ul li .imgStar{
	width: 13px;
	height: 13px;
	background-image: url(img/star.png);
	vertical-align: -1px;
}
.top-warp .top-con ul li .imgMenu{
	width: 13px;
	height: 13px;
	background-image: url(img/dh.png);
	vertical-align: -2px;
}

/*top 结束*/

/*中间搜索 开始*/
.mid-warp{
	width: 100%;
	height: 121px;
	border: 1px solid black;
}

.mid-warp .mid-warp-con{
	width: 1190px;
	height: 97px;
	margin: 0px auto;
	padding-top: 24px;
	background-color: green;

}
/*中间搜索 结束*/

/*导航栏 开始*/
.nav-warp{
	width: 100%;
	height: 30px;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.nav-warp .nav-warp-con{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}

.nav-warp .nav-warp-con .nav-left{
	float: left;
	width: 190px;
	height: 30px;
	background-color: #ff5000;
}
.nav-warp .nav-warp-con .nav-left h2{
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.nav-warp .nav-warp-con ul li{
	float: left;
	height: 30px;
}
.nav-warp .nav-warp-con ul li span,
.nav-warp .nav-warp-con ul li a{
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-weight: 700;
	padding: 0 5px;
}

.nav-warp .nav-warp-con .nav-tb{
	float: left;
	width: 200px;
	height: 30px;
}
.nav-warp .nav-warp-con .nav-tb .nav-ul-tb {
	margin-left: 10px; 
}

	
.nav-warp .nav-warp-con .nav-tb a{
	font-size: 16px;
}
.nav-warp .nav-warp-con .nav-right{
	float: left;
}
.nav-warp .nav-warp-con .nav-right a{
	font-size: 15px
}



/*导航栏 结束*/























